[submodule "rtxmu"]
	path = rtxmu
	url = https://github.com/r2d2Proton/RTXMU.git
	branch = main
[submodule "thirdparty/cxxopts"]
	path = thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
	branch = main
[submodule "thirdparty/Vulkan-Headers"]
	path = thirdparty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	branch = main